	
	<div class = "container">
		<h1>{{company}}</h1>
		<hr/>
		<button class="btn btn-primary" id="reviewBtn">Write a review</button>
	
		<div>
		{{#each review}}

		<div class="panel panel-default">
  			<div class="panel-heading">
   			 <h3 class="panel-title">{{this.title}}  - {{this.rating}}</h3>   				 
 			 </div>
 			<div class="panel-body">
    			<h5>{{this.createdAt}}</h5>
    			<h5>{
    			{#if this.reviewStatus}} 
    			Current Employee
    			{{else}}
    			Former Employee
    			{{/if}}
    			</h5>
    			<br/>
    			<h5>Brief overview of the company:</h5> 
    			<p> {{this.question1}} </p>
    			<h5>Pros:</h5>
    			<p> {{this.question2}} </p>
    			<h5>Cons:</h5>
    			<p> {{this.question3}} </p>
    			<h5>Advise for perspective employees:</h5>
    			<p> {{this.question4}} </p>
    			<h5>Advise for management:</h5>
    			<p> {{this.question5}} </p>
    			
  			</div>
		</div>
			
		{{/each}}
		</div>
		
	</div>	
